html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit;}


.cart {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(26, 26, 31);
  top: 0;
  right: 0;
  color: white;
}

.closecart {
  position: absolute;
  margin-left: -50px;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: rgb(26, 26, 31);
  outline: none;
  border: none;
  color: white;
}


.cart h1 {
  text-align: center;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 20px;
  padding: 50px;
}

.cart h1 i {
  position: relative;
  padding: 0px;
  font-size: 26px;
  margin: 0px;
  margin-top: 0px;
  margin-left: 0px;

}

.cart ul {
  list-style: none;
  padding: 0px;
  flex-grow: 1;
}

.itemdelete {
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 3px;
  font-size: 24px;
  font-weight: bold;
}

.cartitem {
  width: 90%;
  border-top: .7px solid black;
  display: flex;
  justify-content: row;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px
}

.cartitem img {
  width: 60px;
  margin-top: 10px;
}

.details {
  flex-grow: 1;
  padding-left: 15px;
  height: auto;
  font-weight: lighter;
  color: grey;
  line-height: 2px;
}

.name {
  color: white;

}

.price {
  color: rgb(225,188,63);
  padding-right: 10px;
  font-size: 16px;
}

.total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.total div h2 {
  flex-grow: 1;
  color: grey;
  font-weight: 300;
  font-size: 16px;
}

.total div h3 {
  font-size: 29px;
  font-weight: 300;
}

.total button {
  height: 50px;
  width: 300px;
  margin: auto;
  margin-bottom: 15px;
  background-color: black;
  border: none;
  color: white;
}

/* TO HIDE CART*/
.hidden {
  display: none;
}